
.page-contact{overflow: hidden;padding: 90px 0;}
.contact-map{overflow: hidden;width: 600px;height: 550px;}
.contact-txt{width: 550px;overflow: hidden;border-left: 1px solid #ccc;padding-left: 30px;line-height: 30px;}
.contact-img{overflow: hidden;margin-bottom: 30px;}
.contact-img img{width: 250px;display: block;padding: 5px;border: 1px dotted #1e90ff;margin-top: 20px;}