@mixin header{position: absolute;width: 100%;height: 100%;}
@mixin ts2{transition: all 0.2s ease-in-out;}
@mixin ts3{transition: all 0.3s ease-in-out;}

.header{height: 67px;left: 0;top: 0;z-index: 100;position: fixed;width: 100%;
	.header1{position: absolute;top: 0;left: 0;z-index: 10;width: 100%;height:100%;
		.header-bg{opacity: 0.6;z-index: 20;@include header;background-color: #000;}
	}
	.header-con{z-index: 50;@include header;}
	.header1{
		.header-logo{height:67px;width: 330px;background: url(../static/images/header-logo1.png) center center no-repeat;}
	}
	.header-nav{height: 67px;width: auto;margin-left: 150px;
		li{height: 100%;line-height: 67px;float: left;padding: 0 12px;width: auto;
			a{color: #fff;@include ts2;
				&:hover{color: #2a8ae2;}
			}
		}
	}
	.header-tel{width: auto;height: 67px;background: url(../static/images/header-tel1.png) 0 center no-repeat;
		span{text-indent: 50px;line-height: 67px;font-size: 16px;display: block;color: #fff;}
	}
	.header2{@include ts3;position: absolute;left: 0;top: 0px;z-index: 50;width: 100%;height:100%;
		.header-bg{z-index: 30;@include header;background-color: #fff;border-bottom: 1px solid #eee;}
		.header-logo{background: url(../static/images/header-logo2.png) center center no-repeat;height: 67px;width: 330px;}
		.header-nav{
			li{
				a{color: #000;
					&:hover{color: #2a8ae2;}
				}
			}
		}
		.header-tel{background: url(../static/images/header-tel2.png) 0 center no-repeat;
			span{color: #000;}
		}
	}
}

.purpose{overflow:hidden;
	.box2{height: 494px;overflow: hidden;border-bottom: 1px solid #f6f6f6;
		.title{margin-top: 66px;height: 47px;line-height: 47px;text-align: center;font-size: 28px;}
		.cont{width: 100%;height: 381px;overflow:hidden;
			.left{float: left;width:600px;height: 381px;overflow: hidden;}
			.right{float: right;width: 600px;height: 381px;overflow: hidden;
				.text1{margin-top: 83px;margin-left: 82px;color: #797979}
				.link1{display: block;width: 118px;height: 31px;border: 1px solid #4c94dc;text-align: center;line-height: 31px;margin-left: 82px;margin-top: 10px;text-decoration: none;color: #4c94dc}
				.text2{margin-top: 10px;margin-left: 82px;width: 584px;height: 33px;background-color: #f9f9fb;line-height: 33px;text-indent: 10px;color: #525252;font-size: 12px}
				.link2{color:#4c94dc;text-decoration:none;}
			}
		}
		.box2-pic{float: right;width: 309px;height: 381px;background: url(../static/images/pic1.jpg) 0 center no-repeat;}
	}
	.box3{height: 246px;overflow: hidden;
		.iconlist{width: 100%;height: 246px;overflow: hidden;
			li{width: 400px;height: 246px;float: left;
				i{width: 400px;height: 151px;overflow: hidden;display: block;}
				.p1{background:url(../static/images/p1.jpg) center 0 no-repeat;}
				.p2{background:url(../static/images/p2.jpg) center 0 no-repeat;}
				.p3{background:url(../static/images/p3.jpg) center 0 no-repeat;}
				span{display: block;width: 100%;font-size: 22px;color: #131313;text-align:center;margin-top: 20px}
			}
		}
	}
}

.compare{overflow: hidden;background: url(../static/images/box4bg.jpg) ;padding-bottom: 60px;
	.compare-tit{margin-top: 60px;font-size: 30px;color: #000;text-align: center;}
	.compare-con{width: 100%;height: 410px;margin-top: 60px;
		.compare-con-box{float: left;width: 378px;height: 410px;margin-left: 30px;border: 1px solid #ccc;border-top: 10px solid #ccc;
			&:first-child{margin-left: 0;}
			.t1{text-align: center;font-size: 30px;margin-top: 30px;}
			.t2{text-align: center;font-size: 14px;margin-top: 17px;}
			.t3{height: 46px;width: 142px;margin: 0 auto;margin-top: 30px;
				.sp1{font-size: 43px;line-height: 46px;font-weight: bold;display: block;}
				.sp2{font-size: 14px;line-height: 15px;margin-top: 10px;display: block;}
			}
			.link{display: block;width: 210px;height: 44px;background-color: #ccc;color: #3A3A3A;font-size: 16px;line-height: 44px;text-align: center;margin: 0 auto;margin-top: 40px;
				&:hover{background-color: #E3E8EE;border-radius: 20px;}
			}
			ul{overflow: hidden;margin-top: 30px;margin-left: 125px;
				li{height: 40px;width: 250px;line-height: 40px;text-indent: 25px;font-size: 14px;color: #000;background: url(../static/images/box1.png) 0 center no-repeat;}

			}
		}
		.box2{border: 1px solid #67c1f6;border-top: 10px solid #67c1f6;
			.link{background-color: #67c1f6;
				&:hover{background-color: #9bd5f8;}
			}
			ul{
				li{background: url(../static/images/box2.png) 0 center no-repeat;}
			}
		}
		.box3{border: 1px solid #0181cc;border-top: 10px solid #0181cc;
			.link{background-color: #0181cc;
				&:hover{background-color: #1a9be7;}
			}
			ul{
				li{background: url(../static/images/box3.png) 0 center no-repeat;}
			}
		}
	}
}
.compare-bot{overflow: hidden;width: 1198px;border: 1px solid #0181cc;margin-top: 40px;padding-bottom: 40px;
	.calculation-top{text-align: center;line-height: 40px;height: 40px;font-size: 30px;margin-top: 30px;}
	.calculation-mid{overflow:hidden;
		ul{overflow: hidden;margin-top: 30px;margin-left: 165px;
			li{height: 60px;width: 250px;line-height: 60px;text-indent: 60px;font-size: 20px;color: #333;
				&.a{background: url(../static/images/num1.png) 0 center no-repeat;}
				&.b{background: url(../static/images/num2.png) 0 center no-repeat;}
				&.c{background: url(../static/images/num3.png) -5px center no-repeat;}
				&.d{background: url(../static/images/num4.png) 0 center no-repeat;}
			}
		}
		.calculation{margin: 41px 165px 0 0;
			.cal-icon{width: 38px;height: 38px;display: block;margin: 0 auto;background: url(../static/images/page-buy.png);}
			.cal-txt1{text-align: center;margin-top: 5px;font-size: 16px;line-height: 30px;color: #787878;}
			.cal-txt1a{line-height: 30px;font-size: 30px;color: #2a8ae2;font-weight: bold;}
			.cal-txt2{text-align: center;margin-top: 10px;font-size: 16px;line-height: 30px;color: #787878;
				input{width: 120px;height: 26px;border: 1px solid #979797;margin: 10px 7px 7px;padding: 0 7px;color: #787878;}
			}
			.cal-txt2a{color: red;font-size: 16px;line-height: 30px;position: absolute;margin-left: 10px;}
			.cal-txt3{text-align: center;margin-top: 10px;font-size: 16px;line-height: 30px;color: #787878;}
			.cal-result{color: #1D95F1;}
			.cal-txt3a{color: #1D95F1;}
		}
	}
	.calculation-bot{width: 144px;height: 44px;background-color: #2a8ae2;line-height: 44px;display: block;text-align: center;color: #fff;font-size: 18px;margin: 0 auto;margin-top: 50px;border-radius: 15px;
		&:hover{background-color: #1568B8;}
	}
}

@mixin bgP($top: 0){background-position: 0 $top;}
.experience{overflow: hidden;padding-bottom: 90px;
	.experience-top{font-size: 30px;color: #000;margin-top: 60px;margin-bottom: 72px;text-align: center;
		span{font-size: 18px;line-height: 30px;color: #666}
	}
	.experience-con{width: 926px;height: 621px;margin: 0 auto;
		ul{width: 100%;height: 100%;
			li{float: left;width: 308px;height: 310px;
				.experience-item{width: 200px;height: auto;margin: 0 auto;margin-top: 92px;
					span{font-size: 18px;text-align: center;line-height: 50px;display: block;margin-top: 10px;}
					p{display: block;margin-top: 10px;line-height: 18px;font-size: 14px;color: #757575;opacity: 0;filter: alpha(opacity=0);}
				}
				.experience-pic{background: url(../static/images/index_logo.png) no-repeat;width: 66px;height: 66px;margin: 0 auto;}
				.pic1{@include bgP(-1945px);}
				.pic2{@include bgP(-43px);}
				.pic3{@include bgP(-119px);}
				.pic4{@include bgP(-196px);}
				.pic5{@include bgP(-272px);}
				.pic6{@include bgP(-348px);}
				&:hover{box-shadow: 0 0 6px #ccc;
					.experience-item{margin-top: 40px;
						div{opacity: 0;filter: alpha(opacity=0);}
						p{opacity: 1;filter: alpha(opacity=100);}
					}
				}
			}
			.bb{border-bottom: 1px solid #ccc;}
			.br{border-right: 1px solid #ccc;}
		}
	}
}

.iExh{overflow: hidden;height: 450px;
	.iExh-top{display: block;text-align: center;font-size: 30px;margin-top: 60px;}
	.iExh-img{width: 957px;height: 264px;background: url(../static/images/iExh-img.png) no-repeat;margin: 0 auto;margin-top: 40px;}
}